node_modules
.pnpm-store
.git
.turbo
.next
dist
build
coverage
*.log
*.tsbuildinfo
.env
.env.*
!.env.example
apps/*/node_modules
apps/commerce/.medusa
apps/commerce/.medusa-config
apps/cms/.cache
apps/cms/.tmp
apps/cms/build
